@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27');
@import url('https://fonts.googleapis.22com/css2?family=Poppins:wght@0&display=swap%27');
h2
{
    position: relative;
    font-size: 5vw;
    color: #252839;
    -webkit-text-stroke: 0.25vw white;
    text-transform: uppercase;
}

h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #2e6ff1;
    -webkit-text-stroke: 0.1vw #383d52;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate
{
    0%
    {
        width: 0;
    }

    70%
    {
        width: 100%;
    }
}
#photo{
    height:900px;
    background-image: url(../media/spaceminingbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.catchphrase{

    background: rgb(19, 18, 18);
    background: rgba(60, 60, 60, 0.0);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 7px;
    display:flex;
    height: 500px;
    width: 70%;
    transform: translate(60%,40%);
    border-top-left-radius: 15px 10px;
    border-top-right-radius: 15px 10px;
    border-bottom-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;
    color: rgba(0, 0, 0, 0.5);
}
.proton{
    color: white;
    height: 1000px;
    text-align: center;
    background-image: url(../media/jupiter.jpg);
    background-size: cover;

}
.tekst_proton{
font-size: 35px;
position: relative;
    background-color: black;
    opacity: 0.7;
    border: 5px solid #6e6e6e;
    display:flex;
    height: 500px;
    width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-top-left-radius: 15px 10px;
    border-top-right-radius: 15px 10px;
    border-bottom-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;
    font-family: 'Bebas Neue', cursive;
        word-spacing: 3px;

}

.proton_tittle {
    font-size: 60px;
    margin-top: 50px;
    text-shadow: 3px 3px black;
}

.quantum{
    color: white;
    height: 1000px;
    text-align: center;
    background-image: url(../media/quantum.jpg);
    background-size: cover;

}
.tekst_quantum{
font-size: 35px;
position: relative;
    background-color: black;
    opacity: 0.7;
    border: 5px solid #6e6e6e;
    display:flex;
    height: 500px;
    width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-top-left-radius: 15px 10px;
    border-top-right-radius: 15px 10px;
    border-bottom-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;
    font-family: 'Bebas Neue', cursive;
        word-spacing: 3px;

}

.quantum_tittle {
    font-size: 60px;
    margin-top: 50px;
    text-shadow: 3px 3px black;
}

.technology{
    color: white;
    height: 1000px;
    text-align: center;
    background-image: url(../media/technology.jpg);
    background-size: cover;

}
.tekst_technology{
font-size: 35px;
position: relative;
    background-color: black;
    opacity: 0.7;
    border: 5px solid #6e6e6e;
    display:flex;
    height: 500px;
    width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-top-left-radius: 15px 10px;
    border-top-right-radius: 15px 10px;
    border-bottom-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;
    font-family: 'Bebas Neue', cursive;
        word-spacing: 3px;

}

.technology_tittle {
    font-size: 60px;
    margin-top: 50px;
    text-shadow: 3px 3px black;
}

