@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body
{
    background-color: rgb(0, 0, 0);
}
a
{
    font-family: 'Bebas Neue', cursive;
    word-spacing: 3px;
    font-size:19px;
    color: white;
    text-decoration: none;
}
nav
{
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tekst
{
    color: transparent;
    font-size: 30px;
    margin-right: auto;
    position: absolute;
    left: 150px;
    -webkit-text-stroke: 0.5px #fff;
    background: url(../media/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }

}


.logo
{
    width: 100px;
    cursor: pointer;
    margin-right: auto;
    position: relative;
}
.welcome{
    position: relative;
    background-color: black;
    opacity: 0.7;
    border: 5px solid #6e6e6e;
    display:flex;
    height: 300px;
    width: 600px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-top-left-radius: 15px 10px;
    border-top-right-radius: 15px 10px;
    border-bottom-left-radius: 15px 10px;
    border-bottom-right-radius: 15px 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    word-spacing: 3px;
}
.msg{
    color: white;
    opacity: 1;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    word-spacing: 3px;
}
.companyname{
    border-top: 2px solid #6e6e6e;
    border-bottom: 2px solid #6e6e6e;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    word-spacing: 3px;
}
.footer{
    text-align: center;
    margin-top: 370px;
    opacity: 1;
}

@media only screen and (max-width: 1500px)
{
    .welcome
    {
        max-width: 60%;
        max-height: 60%;
        overflow: hidden;


    }


}