#myVideo {
    position: fixed;
    z-index: -1;
   width: 100%;
   height: auto;
   right: 0;
   bottom: 0;
   background-size: cover;
   overflow:hidden;
}
   
@media (min-aspect-ratio: 4/3) {
    #myVideo {
        width:100%;
        height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    #myVideo { 
        width:auto;
        height: 100%;
    }
  }
    
    @media (max-width: 767px) {
    #myVideo
    {
    display: none;
    }
    body{
      background-image: url(https://i.imgur.com/p8Q24nu.jpeg);
      background-size: cover;
    }
}